/*Accordion Styles*/
.accordion {margin: 0 0 30px;}
.accordion dt { border-bottom: 1px solid #DDD; width: 100%; float: left; }
.accordion dd { display: none; padding: 20px; background: #f0f0f0; color: #000;  width: 100%; float: left;}
.accordion dt { border: 1px solid #DDD; cursor: pointer; padding: 8px 15px; margin: 7px 0px; font-family: 'Open Sans', sans-serif; font-size: 17px; text-decoration: none; line-height: 1.4em; padding-top: 10px; color: #0034C1; text-transform: capitalize;}
.accordion dt:before { content: "\25B6"; padding-right: 5px; position: absolute; right: 15px;}
.accordion dt.accordion-active:before {
	content: "\25BE";
	padding-right: 5px;
	position: absolute;
	right: 15px; 
}
.accordion dt.accordion-active:hover {cursor: default; }
.accordion-active{
	color: #fff !important;
	background-color: #0034C1;
}
/*Accordion Styles*/
/* Styles go here */

.flexslider li::after{
 	content: "";
	display: table;
	height: 100%;
	position: absolute;
	top: 0px;
	width: 100%;
	background: #000;
	opacity: .5;
}
.flexslider {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.homepage-slider .flexslider .slides {
  height: 80%;
}

.flexslider .slides li {
 height: 100%;
 position: relative;
}

.homepage-slider .flexslider .slides li .bgimg {
  background-position: center;
  height: 100%;
  width: 100%;
  transition: transform 3.5s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

.homepage-slider .flexslider .slides li.flex-active-slide .bgimg {
  transform: scale(1.5);
}

.flexslider li {
		position: relative;
}
.flexslider li .meta {
	position: absolute;
	z-index: 10000;
	bottom: 35%;
	left: 7%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.flexslider li .meta a{
	background-color: transparent;
	padding: 5px 20px;
	float: left;
	border: 2px solid;
}
.flexslider li .meta a:hover{
	color:#fff; background-color:#ed1d24; transform: scale(1.1); border: none;
}
.flex-control-nav.flex-control-paging{
	position: absolute;
	bottom: 15;
	text-align: center;
	left: 46%;
	z-index: 10000;
}
.flex-control-nav.flex-control-paging li{display: inline-block; margin-right: 10px;}
.flex-control-paging li a.flex-active {
    background: #0034C1;
    cursor: default;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #fff;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.flexslider li h1 {
	margin-bottom: 0;
	font-size: 2.5em;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
}
.flexslider li h2 {
	font-size: 1.5em;
	margin-bottom: 0;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.flexslider li .meta *{
	text-align: left;
	color: #fff;
}
.flexslider li .meta p{
	font-weight: 700;
	font-size: 25px;
}
/*
.flexslider li span {
		background: #e43837;
		margin-top: 17px;
		padding: 8px 12px 0;
		font-size: 0.9em;
		font-weight: 300;
		height: 26px;
}
.flexslider li h1,
.flexslider li h2,
.flexslider .meta li a,
.flexslider li p{
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeOutLeft;
		animation-name: fadeOutLeft;
}
.flexslider li.flex-active-slide .meta h1,
.flexslider li.flex-active-slide .meta a,
.flexslider li.flex-active-slide .meta h2,
.flexslider li.flex-active-slide .meta p,
.flexslider li.flex-active-slide .meta .category span {
		-webkit-animation-delay: .4s;
		animation-delay: .4s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
}

.flexslider li.flex-active-slide .meta h2{
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
}

.flexslider li.flex-active-slide .meta p{
		-webkit-animation-delay: .6s;
		animation-delay: .6s;
}
.flexslider li.flex-active-slide .meta a{
		-webkit-animation-delay: .6s;
		animation-delay: .6s;
}

.flexslider li.flex-active-slide .meta  span {
		-webkit-animation-delay: .8s;
		animation-delay: .8s;
}*/
.flex-direction-nav {
	position: absolute;
	bottom: 50%;
	left: 10px;
	width: 100%;
}
.flex-direction-nav li:last-child{
	right: -95%;
}
.flex-direction-nav a {
		text-decoration: none;
		display: block;
		width: 35px;
		height: 35px;
		background-color: #fff;
		margin: -20px 0 0;
		position: absolute;
		z-index: 10;
		overflow: hidden;
		opacity: .8;
		cursor: pointer;
		color: #000;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
		text-align: left;
		left: -10px;
}

.flex-direction-nav .flex-next {
		text-align: right;
		left: 30px;
}

.flexslider:hover .flex-prev {
		left: -10px;
}

.flexslider:hover .flex-next {
		left: 30px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
		opacity: 1;
}

.flex-direction-nav a:before {
		font-family: FontAwesome;
		content: '\f104';
		font-size: 25px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		position: relative;
		top: 0;
		padding: 2px;
		font-size: 19px;
    line-height: 27px;
}

.flex-direction-nav a.flex-next:before {
		content: '\f105';
}

@-webkit-keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@-webkit-keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}

@keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}
@media (max-width: 767px) {
	.flexslider .slides li .bgimg{
		background-repeat: no-repeat;
		transition: none;
		height: 400px
	}
	.flexslider .slides li.flex-active-slide .bgimg {

    transform: none;

}
	.flexslider {
	    overflow: auto;
	}
	.flexslider li h1{font-size: 2em;}
	.flexslider li .meta{
		position: relative;
		float: left;
		background: #0034C1;
		left: 0;
		padding: 10px 30px;
		width: 100%;
		bottom: 0px;
	}

	.flexslider .slides li .bgimg{
		position: relative;
	}
}
