        /*
Joseph Kamau
www.josephkamau.com
*/
        
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
        * {
            margin: 0px;
            padding: 0px;
            outline: none;
        }
        
        html,
        body {
            max-width: 100%;
            overflow-x: hidden;
            background-repeat: repeat;
            scroll-behavior: smooth;
        }
        
        html,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        
        body {
            margin: 0;
            padding: 0;
            max-width: 100%;
            overflow-x: hidden;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: #013145;
            line-height: 2em;
            letter-spacing: .3px;
        }
        
        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            margin: 0px;
            line-height: 1.8em;
            font-size: 15px;
            padding-top: 8px;
            color: #18191F;
            letter-spacing: .3px;
        }
        
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 900;
            font-size: 45px;
            line-height: 2em;
            text-transform: capitalize;
            color: #18191F;
        }
        
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 40px;
            line-height: 1.3em;
            font-weight: 900;
            text-transform: capitalize;
            color: #18191F;
        }
        
        h3 {
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            line-height: 2em;
            font-weight: 600;
            padding: 10px 0px;
            color: #18191F;
        }
        
        h4 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin: 0px;
            line-height: 2em;
            font-size: 15px;
            padding-top: 8px;
            color: #000;
            text-transform: uppercase;
        }
        
        strong,
        b {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #000;
        }
        
        i {
            font-family: 'Open Sans', sans-serif;
            font-style: italic;
            font-weight: 600;
        }
        
        br {
            margin-bottom: 15px;
        }
        
        img {
            width: 100%;
            float: left;
            height: auto;
        }
        
        a {
            cursor: pointer;
            text-decoration: none;
            transition: .3s;
            color: #013145;
        }
        
        a:hover {
            color: rgb(238, 238, 18);
        }
        
        ul {
            list-style-type: none;
        }
        
        .sidebar #menu-post-categories li {
            text-transform: capitalize;
        }
        
        .center * {
            text-align: center;
        }
        
        .button {
            margin-top: 25px;
        }
        
        .button a,
        .gform_button {
            background: #8C30F5;
            color: #fff;
            float: left;
            padding: 5px 30px;
            cursor: pointer;
            border-radius: 6px;
        }
        
        .button a:hover {
            color: #8C30F5;
            background-color: #fff;
            transform: scale(1.1);
            border: 1px solid #8C30F5;
        }
        
        select,
        input {
            border: 1px solid #8D8D8D;
            height: 15px;
            height: 40px;
        }
        
        body .gform_wrapper .top_label div.ginput_container,
        .gform_wrapper li.hidden_label input,
        .gform_wrapper {
            margin-top: 0px !important;
        }
        
        .gform_wrapper .gform_footer {
            margin: 0px !important;
        }
        
        .paddtop {
            padding-top: 20px !important;
        }
        
        .paddbottom {
            padding-bottom: 20px !important;
        }
        
        .margtop {
            margin-top: 20px !important;
        }
        
        .center {
            text-align: center;
        }
        
        .homepage-header header {
            border-bottom: none;
        }
        
        header {
            width: 100%;
            float: left;
            padding: 20px 0px;
            position: absolute;
            z-index: 10000;
            background: transparent;
        }
        
        header .logo {
            width: 13%;
            float: left;
            background: transparent;
        }
        
        header .navigation-menu {
            float: left;
            box-sizing: border-box;
            position: relative;
            width: 55%;
            margin-left: 5%;
        }
        
        header .downloadables {
            width: 25%;
            float: left;
        }
        
        header .downloadables .col {
            float: left;
            width: 50%;
            padding-left: 20px;
            box-sizing: border-box;
        }
        
        .all {
            width: 100%;
            float: left;
            position: relative;
        }
        
        .jose {
            width: 80%;
            margin: auto;
            float: none;
        }
        
        header.active {
            position: fixed;
            background: #fff;
            z-index: 100000000;
            top: 0;
            opacity: .9;
            padding: 0px;
            border: none;
            padding: 10px 0px;
        }
        
        header.active .navigation-menu {
            padding-top: 0px;
        }
        
        header.active .logo {
            width: 9%;
        }
        
        footer {
            width: 100%;
            float: left;
            position: relative;
            background-color: #0B0D17;
            padding: 30px 0px;
            margin-top: 50px;
        }
        
        footer * {
            color: #fff;
        }
        
        footer .col:first-child {
            width: 90%;
            float: left;
        }
        
        footer .col:first-child img {
            width: auto;
        }
        
        footer .col:last-child {
            width: 10%;
            float: right;
        }
        
        footer .col:first-child .menu li {
            display: inline-block;
            padding-right: 20px;
        }
        
        .masthead {
            position: relative;
            height: 100%;
        }
        
        .masthead .caption {
            position: absolute;
            width: 80%;
            left: 10%;
            right: 10%;
            top: 15%;
        }
        
        .masthead .caption .col {
            float: left;
        }
        
        .masthead .caption .col:first-child {
            width: 70%;
            padding-top: 150px;
        }
        
        .masthead .caption .col:last-child {
            width: 30%;
        }
        
        .masthead .caption h1 {
            font-size: 65px;
            line-height: 1.4;
        }
        
        .features {
            padding-top: 70px;
        }
        
        .inner {
            width: 50%;
            margin: auto;
            float: none;
        }
        
        .features .col {
            width: 30%;
            float: left;
            text-align: center;
            margin-right: 5%;
        }
        
        .features .col:last-child {
            margin-right: 0px;
        }
        
        .features .col img {
            width: auto;
            float: none;
        }
        
        .headline {
            margin-top: 70px;
        }
        
        .headline .col {
            width: 48%;
            float: left;
        }
        
        .headline .col:last-child {
            float: right;
            padding-top: 80px;
        }
        
        .summary {
            padding: 50px 0px;
        }
        
        .summary .col {
            width: 48%;
            float: left;
        }
        /* Cursor Styling */
        
        .cursor::after {
            content: '';
            display: inline-block;
            margin-left: 3px;
            background-color: white;
            animation-name: blink;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
        }
        
        .cover-image img {
            border-radius: 7px;
        }
        
        @keyframes blink {
            0% {
                opacity: 1;
            }
            49% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
        
        @media (max-width: 1100px) {
            /* Everything in here will be styled for small desktops */
        }
        
        @media (max-width: 1024px) {}
        
        @media (max-width: 979px) {
            /* Everything in here will be styled for small desktops */
        }
        
        @media (max-width: 767px) {
            .masthead .col:last-child,
            header .downloadables {
                display: none;
            }
            h1 {
                line-height: 2;
                font-size: 24px;
            }
            .masthead .caption .col:first-child {
                padding-top: 0px;
            }
            .masthead .caption h1 {
                font-size: 30px;
            }
            header .logo {
                width: 50% !important;
                margin: 20px auto !important;
                float: none;
            }
            header,
            .masthead,
            .masthead .col,
            header .downloadables,
            .features .col,
            .headline .col,
            .summary .col,
            footer .col:first-child,
            header .navigation-menu {
                width: 100% !important;
                float: left;
                padding: 0px;
                position: relative;
                left: 0px;
            }
            footer .col:last-child {
                width: 50%;
                float: left;
            }
            header .navigation-menu {
                margin-left: 0px;
            }
        }
        
        @media (max-width: 480px) {
            /* Everything in here will be styled for mobile */
        }
        
        @media screen and (min-width: 1920px) {
            /* Everything in here will be styled for large desktops */
        }